<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
    }
    
    .heading{
        font-weight: 600;
        color: cyan;
        text-shadow: 1px 1px 25px #7b7b7bde;
        text-align: center;
        font-size: 3rem;
    }
    .text p{
        margin: 10px;
        padding: 134px;
        padding-top: 10px;
    }
    
    
</style>

<body>
    <header>
        <h2 class="logo">Mess Buddy</h2>
        <nav class="navigation">
            <a href="{% url 'signup' %}" id="homelink">Home</a>
            <a href="{% url 'bill_page' %}">Services</a>
            <a href="{% url 'about' %}" id="aboutlink">About</a>
            <a href="{% url 'contact' %}" id="contactlink">Contact Us</a>
            <button class="btnlogin-popup">Login</button>
        </nav>
    </header>
    <main>
        <div class="contact">
            <div class="heading">
                <h3>About Us</h3>
            </div>
            <div class="text">
                <p>The Mess Management System is a comprehensive software solution designed to streamline and automate
                    the operations of managing a mess or cafeteria in various settings such as hostels, corporate
                    campuses, educational institutions, and more. This system aims to optimize the entire process of
                    managing meals, billing, and customer management.</p>
            </div>
        </div>
    </main>
</body>

</html>